@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

@function getFontname($font) {
  @return #{$font}, sans-serif;
}

$font-family: (
  headingFont: getFontname("Comic Neue"),
  textFont: getFontname("Lato"),
  footerFont: getFontname("Jost"),
);

$text-size: (
  smallSize: 12px,
  mediumSize: 14px,
  bigSize: 16px,
);

$heading-size: (
  smallSize: 20px,
  mediumSize: 28px,
  bigSize: 36px,
);

$text-weight: (
  ligherWeight: 400,
  mediumWeight: 600,
  bolderWeight: 800,
);
