.hearth-rating {
  position: relative;
  width: 100%;
}
/* - - - - - RATINGS */
.rating {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  margin: auto;
  border-radius: 30px;
  background: #ffbc98;
  overflow: hidden;
}
.rating:not(:checked) > input {
  display: none;
}

/* - - - - - LIKE */
#like {
  bottom: -65px;
}
#like:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 50px;
  height: 50px;
  display: block;
  font-size: 25px;

  color: rgba(233, 54, 40, 0.4);
  line-height: 33px;
  text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, 0.6);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, 0.8);
}
#like > input:checked ~ label {
  color: rgb(233, 54, 40);
}
